@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base{
@font-face {
  font-family: 'Bebas Neue';
  src: url('/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProtestStrike';
  src: url('/ProtestStrike-Regular.ttf') format('truetype');
}
}